body 
{
  background-color: rgb(55, 164, 164);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  width: 360px;
  padding: 33px;
  text-align: center;
  background-color: #fff;
  margin-left: 33%;
  margin-top: 5px;
}

input {
  width: 270px;
  padding: 8px;
  border: 2px solid rgb(6, 145,145);
  outline: none;
}

button{
  width: 60px;
  height: 40px;
  background-color: rgb(4, 29,29);
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
}